<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Calendar Appointment</h2>
        <div>
            <div class="oe_span12" style="width: 828px;">
                <div class="panel panel-primary" style="border-color: #013e55 !important;">
                    <div class="panel-heading" style="background-color: #013e55 !important;">
                        <h3 class="panel-title" style="font-size: 25px;color: white;">
                            <i class="fa fa-hand-o-right"></i> Key Features:</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li>
                                <i class="fa fa-hand-o-right" style="color: #013e55 !important;"></i> Choose Team Members </li>
                            <li>
                                <i class="fa fa-hand-o-right" style="color: #013e55 !important;"></i> Create Personalized Scheduling</li>
                            <li>
                                <i class="fa fa-hand-o-right" style="color: #013e55 !important;"></i> Browse Appointment Calendar</li>
                            <li>
                                <i class="fa fa-hand-o-right" style="color: #013e55 !important;"></i> View Appointment</li>
                            <li>
                                <i class="fa fa-hand-o-right" style="color: #013e55 !important;"></i> Support International Time zone</li>
                            <li>
                                <i class="fa fa-hand-o-right" style="color: #013e55 !important;"></i> Navigate Dates</li>
                            <li>
                                <i class="fa fa-hand-o-right" style="color: #013e55 !important;"></i> Simple Step to Book Appointment</li>
                            <li>
                                <i class="fa fa-hand-o-right" style="color: #013e55 !important;"></i> System send email</li>
                            <li>
                                <i class="fa fa-hand-o-right" style="color: #013e55 !important;"></i> Reschedule/cancel appointment</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="background-color: #013e55 !important;">
            <p style="font-size:15px;color: white;">
                <i class="fa fa-hand-o-right" /> Choose Team Members.</p>
        </div>
        <div class="oe_span12">
            <p class="oe_mt16">You can choose any team member to book your appointment. </p>
            <div class="oe_demo oe_picture oe_screenshot col-md-12">
                <img src="1.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="background-color: #013e55 !important;">
            <p style="font-size:15px;color: white;">
                <i class="fa fa-hand-o-right" /> See, how the apps works.</p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="2.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">1. Create Personalized Scheduling</p>
            <p class="oe_mt32">In your team member can create own personalized scheduling page including recess time, available days in week.</p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <p class="oe_mt32">2. Browse Appointment Calendar</p>
            <p class="oe_mt32">you need to tell people to browse the calendar and book your appointment. Customer can choose date, time and completes booking form.</p>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="3.png">
            </div>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="4.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">3. View Appointment</p>
            <p class="oe_mt32">The system can send them an email to both customer and team member. You can also reschedule or cancel an booked appointment.</p>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="background-color: #013e55 !important;">
            <p style="font-size:15px;color: white;">
                <i class="fa fa-hand-o-right" /> What does means grey and blue colors.</p>
        </div>
        <div class="oe_span12">
            <p class="oe_mt32">Grey color means that team member not available for you. Either his recess time, leave days, or booked some other customers.</p>
            <p>Blue color times are clickable you can book appointment. Team member is avaiable for you for this time.</p>
            <div class="oe_demo oe_picture oe_screenshot col-md-12">
                <img src="5.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="background-color: #013e55 !important;">
            <p style="font-size:15px;color: white;">
                <i class="fa fa-hand-o-right" /> Support International Time zone.</p>
        </div>
        <div class="oe_span12">
            <p class="oe_mt32">With auto-detect features, your customers will automatically see dates and times that make sense for their location. We should take care of all the limitation of booking across borders and time zones.</p>
            <h4 class="oe_slogan">Jump to Date</h4>
            <p class="oe_mt32">You can directly move to a specific date or date range for your bookings.</p>
            <div class="oe_demo oe_picture oe_screenshot col-md-12">
                <img src="6.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="background-color: #013e55 !important;">
            <p style="font-size:15px;color: white;">
                <i class="fa fa-hand-o-right" /> Navigate Dates.</p>
        </div>
        <div class="oe_span12">
            <p class="oe_mt32">Customer can navigate next dates or previous dates.</p>
            <div class="oe_demo oe_picture oe_screenshot col-md-12">
                <img src="7.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="background-color: #013e55 !important;">
            <p style="font-size:15px;color: white;">
                <i class="fa fa-hand-o-right" /> Simple Step to Book Appointment.</p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="8.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">Fill appointment form</p>
            <p class="oe_mt32">Customer fill appoitment, here are appoitment date and time are mention in first row.</p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <p class="oe_mt32">System send email</p>
            <p class="oe_mt32">System send notification email to customer email address. Here are 2 option to modify reschedule and cancel booked appointment.</p>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="9.png">
            </div>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="10.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">Reschedule/cancel appointment</p>
            <p class="oe_mt32">Customer click on rescheduling link navigate to booking calendar page and reselect new date/time to book. customer can cancel appointment ling navigatr to confirm cancel page to cancel appointment.</p>
        </div>
    </div>
</section>
<section>
    <div class="oe_row">
        <div class="container-fluid">
            <div class="oe_row">
                <div class="col-md-12 col-xs-12 col-sm-12 mt32 mb32 text-center">
                    <img src="logo.png" style="height:100px;">
                </div>
            </div>
            <div class="oe_row oe_screenshot" style="box-shadow: 3px 4px 25px 6px rgba(0, 0, 0, 0.2);;border-radius: 8px; background: #ECEDF0;">
                <div class="col-sm-3"></div>
                <div class="col-sm-5">
                    <div class="text-center">
                        <a href="https://kanakinfosystems.com/kanak_aboutus">
                            <h3 class="oe_slogan" style="border-bottom: 1px solid #123246;margin-right:-62px;margin-top: 8px; font-size:33px; color:#123246; opacity:1;  font-family:segoeuib">About kanak Infosystems</h3>
                        </a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <h5 class="oe_slogan" style="margin-top: -9px; color:#123246;margin-bottom: 12px; opacity: 0.6; font-family:segoeuiz;">
                        <i>
                            <b>"We are groupies wrapped in Creativity, Skills and Innovation"</b>
                        </i>
                    </h5>
                    <p style="font-family:segoeui">We are authorized IT company to offer advanced, hight quality and affordable IT solutions. We have years of rich experience in the field of ODOO Development, ERP Solutions, Web Development, Mobile Apps, Web Designing and Digital marketing. Around a decade are offering quality assured and 100% customer satisfaction services to global clientele.</p>
                    <p style="font-family:segoeui">Our highly experienced and devoted team of professionals works with there heart, passion and talent to provide the most dedicated IT Business Solutions to our valuable clients globally. Our team works on the real words "Dedication,"Timely Deliverables",And "Happy Clients"!</p>
                </div>
            </div>
            <div class="oe_row col-md-2 col-sm-2">
                <div class="text-center">
                    <h2 style="color:#123246;font-family:segoeuib"> What We Do</h2>
                </div>
            </div>
            <div class="oe_row">
                <div class="col-md-2 col-sm-2">
                    <img src="icon1.png">
                    <h6 style="margin-top: -10px;font-size: 9px;color:#123246;font-family:">Odoo Customization</h6>
                </div>
                <div class="col-md-2 col-sm-2">
                    <img src="icon-2.png">
                    <h6 style="margin-top: -1px;font-size: 9px;color:#123246;font-family:">Odoo Code Migration</h6>
                </div>
                <div class="col-md-2 col-sm-2">
                    <img src="icon-3.png">
                    <h6 style="margin-top: -1px;font-size: 9px;color:#123246;font-family:">Odoo Mobile App</h6>
                </div>
                <div class="col-md-2 col-sm-2">
                    <img src="icon-4.png">
                    <h6 style="margin-top: -1px;font-size: 9px;color:#123246;font-family:">Odoo DB Migration</h6>
                </div>
                <div class="col-md-2 col-sm-2">
                    <img src="icon-5.png">
                    <h6 style="margin-top: -1px;font-size: 9px;color:#123246;font-family:">Odoo Web Development</h6>
                </div>
                <div class="col-md-2 col-sm-2">
                    <img src="icon-6.png">
                    <h6 style="margin-top: -1px;font-size: 9px;color:#123246;font-family:">Odoo Themes</h6>
                </div>
            </div>
            <div class="oe_row">
                <div class="text-center" style="text-align: center;">
                    <a style="color:#dc1d1d; border:1px solid #dc1d1d; width:170px;" class="btn btn-lg" rel="nofollow" href="https://kanakinfosystems.com/contactus" target="_blank">
                        Contact Us
                    </a>
                </div>
            </div>
            <div class="oe_row oe_screenshot" style="box-shadow: 3px 5px 18px 6px rgba(0, 0, 0, 0.2);;border-radius: 8px; background: #ECEDF0; height:70px">
                <div class="oe_row">
                    <div class="col-md-2 col-sm-2"></div>
                    <div class="col-md-10 col-sm-10" style="padding-top: 2px;padding-left: 62px;">
                        <div class="col-md-3 col-sm-3" style="border-right: 1px solid #000;">
                            <span>
                                <img src="call-icon.png">
                            </span>
                            <span>
                                Help
                            </span>
                        </div>
                        <div class="col-md-3 col-sm-3" style="border-right: 1px solid #000;">
                            <span>
                                <img src="support-icon.png">
                            </span>
                            <span>
                                Support
                            </span>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <span>
                                <img src="support-icon.png">
                            </span>
                            Request New Features
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>