.o_custom_opportunity_form .o_input_color, .o_custom_opportunity_form .o_input_color > input{
	color:#FF9057;
}
.o_custom_opportunity_form .o_form_sheet .o_field_widget{
	width:100% !important;
	margin-left: 00px;
}
.o_custom_opportunity_form .o_form_label{
	color:#333333;
}
.o_custom_opportunity_form span.o_field_char{
	font-size:16px;
	color:#000 !important;
}
.o_priority .fa-circle, .o_priority .fa-circle-o{
	color: #FF5F99 !important;
}