/* Copyright 2020 Troxia.
 * Part of Troxia. See LICENSE file for full copyright and licensing details.
 */
/* App Sidebar Panel */
$troxia-sidebar-width: 62px;

.troxia-sidebar-panel {
  flex: 0 0 $troxia-sidebar-width;
  background-color: $gray-base;
  height: calc(100% - 46px) !important;
  overflow-y: auto;
  @media (max-width: 768px) {
    display: none;
  }

  .mm-sidebar-menu-logo {
      flex: 0 0 $troxia-sidebar-width;
      text-align: center;
      position: relative;
      display: none;

      > img {
        margin: 14px 0;
        display: none;
      }
  }
  .mm-sidebar-logo {
    display: none;
  }

  .mm-sidebar {
      white-space: nowrap;
      padding: 0;
      height: 100% !important;
      .mm-sidebar-content {
          height: 100%;
          flex: 1 1 auto;
          padding-top: 7px;

          .mm-sidebar-menu {
            list-style: none;
            margin: 0;
            padding: 0;

            > li {
              margin: 0;
              padding: 0;
              border: 0px;
              text-align: center;
              > a {
                display: block;
                position: relative;
                margin: 0;
                border: 0px;
                padding: 10px 15px;
                text-decoration: none;
                font-size: 14px;
                font-weight: 300;
                color: #ffffff;
                border-radius: 0 !important;
                background-color: transparent;
                i {
                  font-size: 32px;
                  text-shadow: none;
                  font-weight: 300;
                  text-align: center;
                }
                >img{
                  width: 32px;
                  height: 32px;
                }
                >span{
                  display:none;
                  width: auto;
                  font-size: 12px!important;
                  padding: 0px;
                  margin: 0px;
                }
              }
              > .active{
                border-top: 6px solid #31c7b2;
                background: #31c7b2;
                border-top-color: transparent;
                color: #ffffff;
              }
              > a:hover{
                color: #555487;
              }
            }

            > li:hover > a {
              background: #535f6d;
              color: #fff;
            }
          }
      }
  }

  .mm-sidebar-menuitem {
      width: 24px;
      height: 24px;
      margin-right: 5px;
  }

  .mm-toggle-sidebar {
      display: none;
  }
  .mm-sidebar-footer {
      display: none;
  }
}

