/* Copyright 2020 Troxia.
 * Part of Troxia. See LICENSE file for full copyright and licensing details.
 */
/* App Sidebar Panel */
$troxia-sidebar-width: 200px;

.troxia-sidebar-panel-toggle {
  flex: 0 0 $troxia-sidebar-width;
  background-color: $gray-base;
  height: calc(100% - 46px) !important;
  overflow-y: auto;
  @media (max-width: 768px) {
    display: none;
  }

  .mm-sidebar-menu-logo {
    flex: 0 0 $troxia-sidebar-width;
    text-align: center;
    position: relative;

    > img {
      margin: 25px 0;
      width: 60px;
    }
  }

  .mm-sidebar-logo {
    height: 120px;
    text-align: center;
  }

  .mm-sidebar {
    white-space: nowrap;
    padding: 0;
    height: calc(100% - 19%) !important;

    .mm-sidebar-content {
      height: 95%;

      .mm-sidebar-menu {
        list-style: none;
        margin: 0;
        padding: 5px 0;
        flex: 1 1 auto;

        > li {
          display: block;
          margin: 0;
          padding: 0;
          border: 0px;

          > a {
            display: block;
            position: relative;
            margin: 0;
            border: 0px;
            padding: 10px 15px;
            text-decoration: none;
            font-size: 14px;
            font-weight: 300;
            color: $gray-lighter;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          > .active {
            border-top: 6px solid #31c7b2;
            background: #31c7b2;
            border-top-color: transparent;
            color: #ffffff;
          }

          > a:hover {
            color: #555487;
          }
        }

        > li:hover > a {
          background: #535f6d;
          color: #fff;
        }
      }
    }
  }

  .mm-sidebar-menuitem {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }

  .mm-toggle-sidebar {
    display: none;
  }

  .troxia-footer {
    height: 80px;
    padding-top: 45px;

    > a > .troxia {
      width: 70%
    }
  }
}