/* Copyright 2020 Troxia.
 * Part of Troxia. See LICENSE file for full copyright and licensing details.
 */
// ------------------------------------------------------------------
// Roboto
// ------------------------------------------------------------------
$roboto-font-path: '../fonts/Roboto';

@mixin roboto-font($type, $weight, $style) {
    @font-face {
        font-family: 'Roboto';
        src: url('#{$roboto-font-path}/Roboto-#{$type}-webfont.eot');
        src: url('#{$roboto-font-path}/Roboto-#{$type}-webfont.eot?#iefix') format('embedded-opentype'),
             url('#{$roboto-font-path}/Roboto-#{$type}-webfont.woff') format('woff'),
             url('#{$roboto-font-path}/Roboto-#{$type}-webfont.ttf') format('truetype'),
             url('#{$roboto-font-path}/Roboto-#{$type}-webfont.svg#Roboto') format('svg');
        font-weight: $weight;
        font-style: $style;
    }

    @font-face {
        font-family: 'Roboto-#{$type}';
        src: url('#{$roboto-font-path}/Roboto-#{$type}-webfont.eot');
        src: url('#{$roboto-font-path}/Roboto-#{$type}-webfont.eot?#iefix') format('embedded-opentype'),
             url('#{$roboto-font-path}/Roboto-#{$type}-webfont.woff') format('woff'),
             url('#{$roboto-font-path}/Roboto-#{$type}-webfont.ttf') format('truetype'),
             url('#{$roboto-font-path}/Roboto-#{$type}-webfont.svg#Roboto') format('svg');
    }
}

@mixin roboto-font-pair($type, $weight) {
    @include roboto-font('#{$type}', $weight, normal);
    @include roboto-font('#{$type}Italic', $weight, italic);
}

@include roboto-font-pair('Thin', 100);
@include roboto-font-pair('Light', 300);
@include roboto-font-pair('Regular', 400);
@include roboto-font-pair('Medium', 500);
@include roboto-font-pair('Bold', 700);
@include roboto-font-pair('Black', 900);

// ------------------------------------------------------------------
// Gibson
// ------------------------------------------------------------------
$gibson-font-path: '../fonts/Gibson';

@mixin gibson-font($type, $weight, $style) {
    @font-face {
        font-family: 'Gibson';
        src: url('#{$gibson-font-path}/Gibson-#{$type}-webfont.eot');
        src: url('#{$gibson-font-path}/Gibson-#{$type}-webfont.eot?#iefix') format('embedded-opentype'),
             url('#{$gibson-font-path}/Gibson-#{$type}-webfont.woff') format('woff'),
             url('#{$gibson-font-path}/Gibson-#{$type}-webfont.ttf') format('truetype'),
             url('#{$gibson-font-path}/Gibson-#{$type}-webfont.svg#Gibson') format('svg'),
             url('#{$gibson-font-path}/Gibson-#{$type}-webfont.woff2') format('woff2');
        font-weight: $weight;
        font-style: $style;
    }

    @font-face {
        font-family: 'Gibson-#{$type}';
        src: url('#{$gibson-font-path}/Gibson-#{$type}-webfont.eot');
        src: url('#{$gibson-font-path}/Gibson-#{$type}-webfont.eot?#iefix') format('embedded-opentype'),
             url('#{$gibson-font-path}/Gibson-#{$type}-webfont.woff') format('woff'),
             url('#{$gibson-font-path}/Gibson-#{$type}-webfont.ttf') format('truetype'),
             url('#{$gibson-font-path}/Gibson-#{$type}-webfont.svg#Gibson') format('svg'),
             url('#{$gibson-font-path}/Gibson-#{$type}-webfont.woff2') format('woff2');
    }
}

@mixin gibson-font-pair($type, $weight) {
    @include gibson-font('#{$type}', $weight, normal);
    //@include gibson-font('#{$type}Italic', $weight, italic);
}

@include gibson-font-pair('Light', 100);
@include gibson-font-pair('Light', 300);
@include gibson-font-pair('Regular', 400);
@include gibson-font-pair('Medium', 500);
@include gibson-font-pair('Regular', 700);
@include gibson-font-pair('SemiBold', 900);