/* Copyright 2020 Troxia.
 * Part of Troxia. See LICENSE file for full copyright and licensing details.
 */
$gray-base:              #282828;
$gray-darker:            lighten($gray-base, 13.5%);
$gray-dark:              #666;
$gray:                   #777;
$gray-light:             #AEA79F;
$gray-lighter: lighten($gray-base, 93.5%);
$brand-primary: #000000;
$brand-secondary: #3598FE;


$brand-primary-dark: darken($brand-primary, 10%);
$brand-secondary-dark: darken($brand-secondary, 10%);
$primary-color: #3598fe;
$primary-color-hover: #3598FE;
$link-color: #3598FE;


body {
    font-family: Gibson !important;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000000;
}

.o_loading {
    background-color: $brand-primary;
}

.o_main_navbar {
    background-color : $brand-primary;
    border-bottom: 1px solid #000000;
}

.o_main_navbar > a:hover, .o_main_navbar > a:focus, .o_main_navbar > button:hover, .o_main_navbar > button:focus {
    background-color: $brand-primary-dark;
    color: inherit;
}

.o_main_navbar > ul > li > a:hover, .o_main_navbar > ul > li > label:hover {
    background-color: $brand-primary-dark;
}

.o_main_navbar .show .dropdown-toggle {
    background-color: $brand-primary-dark;
}

// Sidebar
html .o_web_client {
    flex-flow: row wrap;

    >header {
        flex: 0 0 100%;
    }

    >.o_action_manager {
        @media (max-width: 768px) {
            flex: 0 0 100%;
        }
        flex: 1 1;
        height: calc(100% - 46px) !important;
    }

    .toggle-sidebar~.o_action_manager {
        flex: 0 0 100%;
    }
}


//Buttons
.btn {
    border-radius: 0;
}
.btn-primary {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
}
.btn-primary:hover {
    color: #fff;
    background-color: $primary-color-hover;
    border-color: $brand-secondary-dark;
}
.btn-fill-primary:hover, .btn-primary:hover {
    color: #FFFFFF !important;;
    background-color: #62acf8 !important;;
    border-color: #62acf8 !important;;
}
.btn:active, .btn.active {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #eee !important;
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #eee !important;
}
.btn-link {
    color: $link-color;
}
.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled {
    color: $primary-color;
}
.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(.disabled):hover {
    color: $primary-color;
}
.o_dropdown_toggler_btn, .o_dropdown_toggler_btn:hover, .o_dropdown_toggler_btn:focus, .o_dropdown_toggler_btn:hover, .o_dropdown_toggler_btn:focus, .btn-icon, .o_graph_button {
    text-transform: none !important;
    color: $gray-dark !important;
    background-color: transparent !important;
    border: none !important;
}
.dropdown-menu {
    border-radius: 0;
}
.oe_highlight {
    color: #ffffff !important;
    background-color: $primary-color !important;
}
.o_external_button {
    color: $primary-color !important;
    background: #ffffff;
}
.o_button_icon {
    color: $primary-color !important;
}
.btn-secondary {
    border-color: #FFFFFF;
}
button.btn.btn-secondary.o_form_button_create {
    border-color:  $primary-color !important;
    color:  $primary-color !important;
}
.o_form_view .o_form_statusbar > .o_statusbar_buttons > .btn-secondary {
    border-color:  $primary-color !important;
    color:  $primary-color !important;
}
.btn-fill-primary:focus, .btn-primary:focus, .btn-fill-primary.focus, .focus.btn-primary {
    box-shadow: 0 0 0 0.2rem rgba(53, 152, 254, 0.5) !important;
}
button.btn.btn-secondary.o_form_button_cancel {
    border: 1px solid #ced4da;
}
.o_base_settings .o_setting_container .settings_tab .selected {
    box-shadow: inset 3px 0 0 $primary-color;
}
div.o_boolean_toggle.custom-control.custom-checkbox > label.custom-control-label::before {
    background-color: #3598fe !important;
    border-radius: 100px !important;
}
// Badges
.badge {
    border: 1px solid $brand-secondary;
}

// Calendar
//TODO
.o_calendar_container .o_calendar_sidebar_container .ui-datepicker table .ui-state-active {
    background: none;
    background-color: $brand-primary !important;
    color: #ffffff !important;
}
.o_calendar_container .o_calendar_sidebar_container .ui-datepicker table .ui-state-default {
    color: $brand-primary;
}

.datepicker {
    .table-sm {
        > thead {
            color: white;
            background-color: $brand-primary;

            > tr {
                &:first-child {
                    th:hover {
                        color: white;
                        background-color: darken($brand-primary, 10%);
                    }
                }

                &:last-child {
                    color: $o-datepicker-week-color;
                    background-color: $o-datepicker-week-bg-color;
                }
                > th {
                    border-radius: 0;
                }
            }
        }

        > tbody {
            > tr {
                > td {
                    &.active, .active {
                        background-color: $o-brand-primary;
                        border-radius: 100px;
                    }

                    &.today:before {
                        border-bottom-color: $o-brand-primary;
                    }
                }
            }
        }
    }
}

.datepicker .table-sm > tbody > tr > td.active, .datepicker .table-sm > tbody > tr > td .active {
    background-color: $brand-primary;
	border-radius: 0;
}

// Filter search label

.o_searchview {
    .o_searchview_facet {
         background-color: #ffffff;
        .o_searchview_facet_label {
            background-color: $brand-primary;
        }
    }
}

a {
    color: $brand-secondary;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {

    color: $brand-secondary-dark;
    text-decoration: none;

}
.nav-tabs .nav-link.active{
    color: #3598FE;
}

.nav-link {
    color: #495057;
}
.o_control_panel {
    background-color: #ffffff;
}

.breadcrumb {
    background-color: inherit;
}

// Input

input[type="text"], input[type="password"], input[type="number"],
textarea, select, .o_form_view.o_form_editable .o_form_field_many2manytags,
.o_searchview
{
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
}

.o_web_client input:focus, .o_web_client textarea:focus, .o_web_client select:focus {
    outline: none;
}

.o_input {
    border: 1px solid #ccc;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #000000;
}

.o_field_widget {
    &.o_field_many2one .o_external_button {
        color: $brand-secondary
    }
}

.o_required_modifier {
    &.o_input, .o_input {
        background-color: #FFFFFF ! important;
    }
}
.input-group-text {
	background-color: transparent;
	color: #fff;
	border: 0;
}
.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: transparent;
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: #000000;
    border-color: #000000;
    background-color: #ffffff;
}
.custom-checkbox .custom-control-label::before {
     border-radius: 0 !important;
}


// Listview
.o_list_view .table-responsive .o_list_table thead tr:nth-child(1) th {
    background-color: #ffffff !important;
}
tr.o_data_row:first-child {
    box-shadow: inset 0px 5px 10px -4px rgba(0, 0, 0, 0.1);
}
.table {
    color: #000000;
}
.o_list_view .o_list_table tbody > tr > td:not(.o_list_record_selector):not(.o_handle_cell):not(.o_list_button) {
    font-size: 14px;
}
.o_list_view .table-responsive .o_list_table tfoot tr:nth-child(1) td {
    background-color: #e9ecef !important;
    font-weight: bold;
}
.o_list_view .table-responsive .o_list_table thead, .o_list_view .table-responsive .o_list_table thead tr:nth-child(1) th {
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}
.o_list_view.table {
    border: none;
}
.o_list_view.table thead, .o_list_view.table tfoot, .o_list_view.table td,.o_list_view.table th {
    border: none;
}

.o_list_view.table thead {
    background-color: #e2e2e0 !important;
}

.o_list_view.table thead > tr > th.o_column_sortable:hover {
    background-color: #D6D6D3;
}

.o_list_view.table tbody tr.o_group_header {
    background-color: #dfdfdf;
    background-image: none;
    border-top: 1px solid #e2e2e0;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #eef0f0;
}

.o_list_view tfoot {
    background-color: $brand-primary;
    color: #ffffff;
    cursor: default;
    font-weight: normal;
}

.ui-autocomplete .ui-menu-item.ui-state-focus {
    background-color: #dee2e6;
}

.ui-menu-item a:hover,.ui-menu-item a:focus {
    color: #666666 !important;
}
.ui-autocomplete .ui-menu-item.ui-state-focus a{
    color: #666666 !important;
}

.o_form_view .oe_button_box .oe_stat_button .o_stat_info .o_stat_value {
    color: $brand-primary;
}

.o_form_view .o_horizontal_separator {
    color: #000000;
    font-weight: bold;
}
.o_form_view .o_group .o_td_label .o_form_label {
    color: gray;
}
// Forms
.o_form_view {
     .o_form_uri {
        color: $primary-color;
     }
     .o_form_uri:hover {
        color: #72b2f5;
    }
    .oe_button_box{
        .btn.oe_stat_button{
            .o_stat_info{
                .o_stat_value{
                    color: #000000;
                }
            }
        }
    }
     .o_form_sheet_bg {
        background: none !important;
        background-color: #F9F9F9 !important;
        padding: 0;
        .o_form_sheet {
            border: 1px solid #d9d7d7;
            box-shadow: 0 5px 20px -15px black;
            .o_notebook{
                .o_notebook_headers{
                    .nav-tabs {
                        border-bottom: 1px solid #dee2e6;
                        border-top: 1px solid #dee2e6;
                        .nav-link:hover,.nav-link:focus{
                            border:none
                        }
                        .nav-item{
                            .nav-link {
                                border-top-left-radius: 0;
                                border-top-right-radius: 0;
                            }
                            .nav-link.active{
                                border:none;
                            }
                        }
                    }
                }
            }
        }
    }

    .o_form_statusbar {
        //margin: -16px;

        .o_statusbar_status {
            > .o_arrow_button {
                background: #ffffff;
            }
        }
    }
}
.o_form_view .o_form_uri > span:first-child {
    color: $primary-color;
}
// Chat window

.o_thread_window .o_thread_window_header {
	background-color: $brand-primary;
}

//Search Panel
.o_search_panel .o_search_panel_category .o_search_panel_section_icon {
    color: $primary-color;
}
.o_searchview .o_searchview_autocomplete li.o_selection_focus {
    background-color: $primary-color;
}

//Kanban
.o_kanban_view.o_modules_kanban.o_renderer_with_searchpanel.o_kanban_ungrouped {
    background: #f8f9fa;
}
.o_kanban_cancel{
    border-color: $primary-color !important;
    color : $primary-color !important;
}

//Control panel
.o_control_panel{
    .o_cp_bottom{
        .o_cp_bottom_left{
            .o_cp_buttons{
                .btn-secondary{
                    border-color: $primary-color;
                    color : $primary-color;
                }
            }
        }
    }
}

//Tooltip
.tooltip .tooltip-inner .oe_tooltip_string {
    background-color: #dee2e6;
}
.tooltip .tooltip-inner {
    color: #212529;
}

//discuss
.o_DiscussSidebarItem_activeIndicator.o-item-active {
    background-color: $primary-color;
}
