/*! For Search buttton */
/* Copyright 2020 Troxia.
    Part of Troxia. See LICENSE file for full copyright and licensing details. */
.mm-search-button
{
    background:#EFEFEF;
    border:1px solid;
    width:160px;
    height:40px;
    color:white;
    background-color:#3598FE;
    font-size:16px;
}
.mm-search-button:hover{
    color: white;
    text-decoration: none;
}
.mm-create-button
{
    background:#3598FE;
    border:1px solid;
    width:160px;
    height:40px;
    color:white;
    background-color:#3598FE;
    font-size:16px;
}
.div-part{
    border-top: 1px solid #e5e5e5;
    padding-top: 20px;
}
.mm-create-button:hover{
    color: white;
    text-decoration: none;
}
.mm-search-name
{
    border:1px solid;
    padding: 8px;
    width: 100%;
    height:40px;
    border-color:grey;
}
input[type="text"], input[type="password"], input[type="number"], textarea, select {
    border: 1px solid #514141;
        border-top-color: rgb(81, 65, 65);
        border-right-color: rgb(81, 65, 65);
        border-bottom-color: rgb(81, 65, 65);
        border-left-color: rgb(81, 65, 65);
    width: 100%;
    display: block;
    border-color: #CBC3C3;
    background-color: #ffffff;
}
.mm-search-background
{
    background:#f9f9f9;
}
.o_form_view .o_address_format .o_address_city {
    margin-right: 0%;
    margin-left: 2%;
    display: inline;
}
.o_form_view .o_address_format .o_address_state {
    margin-right: 0%;
}
.o_form_view .o_address_format .o_address_zip {
    margin-left: 2%;
    display: inline;
}
.o_form_view .partner_img .oe_avatar > img {
    max-width: 80px;
    max-height: 80px;
}

.o_form_view .o_group {
    display: inline-block;
    width: 100%;
    margin: 5px 0;
}

.fiscal-btn {
    padding: 5px 0 10px !important;
    text-transform: uppercase;
}

.o_form_view.o_form_editable .oe_title {
    max-width: 765px;
}
.troxia-status > .custom-control {
    padding-left: 2.5rem !important;
}
.o_form_view .o_group.o_inner_group .btn-secondary  {
    border-color: #3598fe !important;
}